
flask==3.0.3
flask-cors==4.0.1
opencv-python-headless==4.10.0.84
pytesseract==0.3.10
Pillow==10.4.0
pdf2image==1.17.0
pdfplumber==0.11.4
python-docx==1.1.2
spacy==3.8.2
nltk==3.9.1
networkx==3.4.2
scikit-learn==1.5.2
numpy==1.26.4
pandas==2.2.3
firebase-admin==6.5.0
python-magic==0.4.27
langdetect==1.0.9
textstat==0.7.3
werkzeug==3.0.6
gunicorn==23.0.0
requests==2.32.3
tqdm==4.67.1
matplotlib==3.9.4
sentence-transformers==3.2.1
transformers==4.46.3
torch==2.4.1
python-multipart==0.0.12
P y M u P D F  
python-dotenv==1.0.1
google-generativeai==0.8.3img2table
